{% extends "layout.html" %}
{% block content %}
	<div>
		<h1> Motor CC (Compensation Calculator)</h1>
		<div class="'content-section mx-sm-3">
			<form method="POST" action="">
				{{ form.hidden_tag() }}
				<div class="form-group ">
					<label for="ageInput">What age do you <i>"feel"</i></label>
					{% if form.age.errors %}
						{{ form.age(class="form-control is-invalid", placeholder="Enter age") }}
						<div class="'invalid-feedback">
							{% for error in form.age.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.age(class="form-control ", placeholder="Enter age") }}
					{% endif %}
				</div>
				<div class="form-group">
					<label for="BudgetInput">How many coins you got to spend on this baby</label>
					{{ form.amount(class="form-control ", placeholder="Enter amount of money to spend on the motorcycle")}}
				</div>
				<div class="form-group">
					{{ form.typemotor(class="form-control") }}
				</div>
				{% if dick == True %}
				<div class="form-group">
					<label for="BudgetInput"> Enter your dick size in centimeter</label>
					{{ dickform.dick(class="form-control ", placeholder="Enter you dick length")}}
				{% endif%}
				</div>
				<div>
					{{form.submit(class="btn btn-primary btn-lg btn-block")}}
				</div>
			</form>
			{% if answer == True %}
			<div>
				<h1> You should checkout the {{ motor }}</h1>
				<img src="https://previews.123rf.com/images/anellla/anellla1412/anellla141200029/34951380-vector-illustration-of-silhouette-black-motorcycle.jpg"
					 width="200" height="200">
			</div>
			{% endif %}
		</div>
	</div>

{% endblock content %}

